
/*** VSCodeEDU preview fix 

  Purpose:
  - Fix VSCodeEDU issue that causes a white border to show around
    the preview window

  When To Modify:
  - If you change the background color of your webpage, you may need to update this rule too.
***/
html {
    background-color: var(--bg-color);
}

/*** body ***
  
  Purpose:
  - Add style rules for the body of your webpage
  - This is useful if you want a rule to apply to EVERYTHING on your page
    - (Tip: You can always override these rules later in the stylesheet)

  When To Modify:
  - [ ] Project 3 (REQUIRED FEATURE) 
  - [ ] Any time after
***/

body {
    /* Add a background color or image */
    background-color: var(--bg-color); /* see bottom of file for color variables */

    /* Customize the default size, color, and font for text*/
    font-size: 16px;
    color: var(--text-color);
    font-family: Tahoma, sans-serif; /* This tells the browser: "Try to use `Tahoma`, and if you can't find it, use any sans-serif font." */

    /* Put space around the edges of the webpage */
    margin: 50px;
}

/*** Text ***
  
  Purpose: 
  - Add style rules for headings (h1-6),
    paragraphs (p), links (a), and buttons

  When To Modify:
  - [X] Project 3 (REQUIRED FEATURE) 
  - [ ] Any time after
***/

h1 { background-color: bisque;font-size: large 30px;font-family: 'Times New Roman', Times, serif; text-align: center;}/* Style rules go here. */
      .intro{width: 30%;}/* Style rules go here. */
       /* This tells the browser: "Try to use `italic`, and if you can't find it, use any sans-serif font." */
    


h2 { font-size: large 25px;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    
}




h3 {text-decoration: wavy underline;
    text-align: left;
    
    
}

h4 {text-align: center;
    
}

p { font: optional;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    
}

a,
a * {font-style: italic;text-align: left;
    
}

button {
    /* Example Style, replace with your own! */
    background-color: green;    /* button color */
    color: white;               /* text color */
    border: none;               /* hides the default border */
    padding: 5px 12px;          /* space between button's text and edge */
    border-radius: 5px;         /* curved edges instead of square */
    cursor: pointer;            /* makes the cursor change when over button */
}

button:hover {
    /* Make the button look different when the user hovers over it */
}

/*** header ***
  
  Purpose:
  - Add style rules for your website's header section

  When To Modify:
  - [X] Project 3 (REQUIRED FEATURE) 
  - [ ] Project 4 (REQUIRED FEATURE) 
  - [ ] Any time after
***/

.header-container {/* Class selector for header */
  padding-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

/* ID selector for header-left */
.header-item:nth-of-type(1) {
  width: 40%;
}

/* ID selector for header-right */
.header-item:nth-of-type(2)
 {
  width: 60%;
}

/* ID selector for header-img */
#header-img {
  width: 100px;
  max-width: fit-content;
  left: 20px;
  right: 20px;
}

/* Class selector for header-button */
.header-button {
  background-color: #c03fbc;
  text-align: center
  font-size: 20px;
  color: white;
  cursor: pointer;
  
}
;/* Example A: This styles elements with class="header" */
    

/*** footer ***
  
  Purpose:
  - Add style rules for your website's footer section

  When To Modify:
  - [ ] Project 3 (STRETCH FEATURE) 
  - [ ] Any time after
***/

.footer { /* Example B: This styles elements with class="footer" */
    
}

/*** Navbar [PLACEHOLDER] [ADDED IN UNIT 4] ***/
/*** Navigation bar (navbar) ***
  
  Purpose:
  - Add style rules for your website's navbar

  When To Modify:
  - [ ] Project 4 (REQUIRED FEATURE) 
  - [ ] Any time after
***/

.navbar ul {
    z-index: 1000; /* Ensures the navbar is on top of other elements */
    list-style-type: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%
    margin-bottom: 20px;

    
}

.navbar ul li {
    float: left;
    margin: 10px;
}

.navbar ul li a {
    display: block;
    color: rgb(225, 59, 59);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

.navbar ul li a:hover {
    background-color: #ddd;
    color: black;
    
}

/*** About Section ***
  
  Purpose:
  - Add style rules for your website's About section

  When To Modify:
  - [ ] Project 3 (OPTIONAL)
  - [ ] Project 4 (STRETCH FEATURE) 
  - [ ] Any time after
***/


/*** Schedule Section ***
  
  Purpose:
  - Add style rules for your website's Schedule section

  When To Modify:
  - [ ] Project 3 (OPTIONAL)
  - [ ] Project 4 (STRETCH FEATURE) 
  - [ ] Any time after
***/


/*** Links Section ***
  
  Purpose:
  - Add style rules for your website's Links section

  When To Modify:
  - [ ] Project 3 (OPTIONAL)
  - [ ] Project 4 (STRETCH FEATURE) 
  - [ ] Any time after
***/
a:link{color: blue;
}
a:visited{color: red;

}
a:hover{transform-style:preserve-3d;
}
a:active{color: black;

}



/*** RSVP Section ***

  
  Purpose:
  - Add style rules for your website's RSVP form

  When To Modify:
  - [ ] Project 6 (REQUIRED FEATURE)
  - [ ] Project 7 (REQUIRED FEATURE)
  - [ ] Any time after
***/
.error {
  border-style: solid;
  border-width: 2px;
  border-color: var(--error-color-border);
  background-color: var(--error-color); 

  /* Set border-color and background */
}



.rsvp-container {
   display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    padding-bottom: 50px;
    align-items: flex-start;

}
.rsvp-para {  width: 55%;
  padding-right:10px;

}
.rsvp-participants { width: 45%;
    padding-right:10px;
}
/* Add other rsvp-related selectors here */
/*** Animations  ***
  
  Purpose:
  - Add style rules to enable scroll animations for your website

  When To Modify:
  - [ ] Project 8 (REQUIRED FEATURE)
  - [ ] Any time after
***/

.revealable {
  --reveal-distance: 150px; /* CSS Variable */

  scroll-margin-top: var(--reveal-distance);
  opacity: 0;
  transition: all 2s ease;
  position: relative;
  transform: translateY(var(--reveal-distance));
}

.active {
  scroll-margin-top: 0;
  transform: translateY(0);
  opacity: 1;
}
/*** Success Modal  ***
  
  Purpose:
  - Add style rules to your website's pop-up modal, which appears
    when a user successfully submits the RSVP form

  When To Modify:
  - [ ] Project 9 (REQUIRED FEATURE)
  - [ ] Any time after
***/

.modal {
  display: none;   /* modal should be hidden by default*/
  position: fixed; /* modal cannot move around the screen */
  z-index: 2;      /* modal appears above other elements */ 
  
  /* TODO: Make the modal fill the entire screen */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  /* Add a semi-transparent background to shadow non-modal elements*/
  background-color: rgba(0,0,0,0.4); /* 40% opacity black */

  /* Flexbox settings for modal */
  /* These won't apply until we update "display:" from "hidden" to "flex" in our JS */
  flex-direction: column; 
  align-items: center;
  justify-content: center;
}

.modal-container {
    /* Change modal size and spacing here */
    padding: 50px;
    width: 55%;

    /* Customize modal style here */
    background-color: lightsteelblue;
    color: black;
    text-align: center;
    font-size: 1rem;
    font-family: monospace;

    /* Optional: Use flexbox to customize .modal-item layout */
    display: flex;

}

.modal-item {
    /* Optional: Style individual elements within the modal */
}
/*** Dark Mode [PLACEHOLDER] [ADDED IN UNIT 5] ***/
/* Default dark mode style */
.dark-mode {background-color:black;
    color: white;

}

/* Example: Different dark mode style for h1 */
.dark-mode h1 { color:red;
    
}
.dark-mode h2 { color: red;
    
}
.dark-mode h3 { color: red;
    
}

/* Example: Different dark mode style for visited links */
.dark-mode a:visited * {

}
#theme-button {
    text-decoration: underline;
    font-family: italic;
    text-align: left; /* Ensure the button is above other elements */
}
.reduce-motion .revealable {
    transition: none;
    transform: none;
    opacity: 1;
}
#reducedMotion {
    text-decoration: underline;
    font-family: italic;
    text-align: left; /* Ensure the button is above other elements */
}



/*** Custom Colors (OPTIONAL) ***
  
  Purpose:
  - Use CSS variables to define custom colors for your website
  - To get you started, we've provided the color scheme used in our example site.
  - To reference a color variable in your css, use var(--variable-name) in place of a color value

  When To Modify:
  - [ ] Any time (OPTIONAL)
***/

:root {
    /* Light Mode */
    --bg-color: #a6a0cf;
    --text-color: #231942;

    /* Dark Mode */
    --bg-color-dark-mode: #3e3377;
    --text-color-dark-mode: #fff;

    /* Accent Colors */
    --accent-color-light: #d2cff5;
    --accent-color-medium: #684fb5;
    --accent-color-dark: #482f95;
    --accent-color-darkest: #231942;
    --accent-color-green: #28eb76;

    /* Error Colors */
    --error-color: #f8bbd0;
    --error-color-border: #e63946;
}
